@model BaiTapNhom11.Models.HoaDonNhap

@{
    ViewData["Title"] = "Details";
}

<h1>Chào mừng đến với trang hóa đơn nhập cửa hàng sách BookKing</h1>

<div>
   
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenHoaDonNhap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenHoaDonNhap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NhaCungCap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NhaCungCap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenVatPham)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenVatPham)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoLuong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TongTien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TongTien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayNhap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayNhap)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaHoaDonNhap">Sửa</a> |
    <a asp-action="Index">Quay Lại</a>
</div>
