@model BaiTapNhom11.Models.KhachHang

@{
    ViewData["Title"] = "Details";
}

<h1>Chào mừng đến với trang thông tin khách hàng cửa hàng sách BookKing</h1>

<div>
   
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenKhachHang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenKhachHang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GioiTinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GioiTinh.TenGioiTinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SDT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SDT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TheKhachHang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TheKhachHang.MauThe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaChi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CMND)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CMND)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaKhachHang">Sửa</a> |
    <a asp-action="Index">Quay Lại</a>
</div>
