@model IEnumerable<BaiTapNhom11.Models.KhachHang>

@{
    ViewData["Title"] = "Index";
}

<h1>Chào mừng đến với trang thông tin khách hàng cửa hàng sách BookKing</h1>

<p>
    <a asp-action="Create">Thêm mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenKhachHang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GioiTinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SDT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TheKhachHang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaChi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CMND)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenKhachHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GioiTinh.TenGioiTinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SDT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TheKhachHang.MauThe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CMND)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaKhachHang">Sửa</a> |
                <a asp-action="Details" asp-route-id="@item.MaKhachHang">Xem</a> |
                <a asp-action="Delete" asp-route-id="@item.MaKhachHang">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
