@model IEnumerable<BTLNhom11.Models.KiemKho>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NgayKK)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HangHoa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kho)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sluongkk)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NgayKK)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HangHoa.TenHH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kho.Dckho)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sluongkk)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaKK">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaKK">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaKK">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
