@model BTLNhom11.Models.NhapSach

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>NhapSach</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HangHoa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HangHoa.TenHH)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NhaCungCap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NhaCungCap.Tenncc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kho)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kho.Dckho)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoluongNhap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoluongNhap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ngayNhap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ngayNhap)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaNhap">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
