@model IEnumerable<BaiTapNhom11.Models.TheLoai>

@{
    ViewData["Title"] = "Index";
}

<h1>Chào mừng đến với trang thể loại cửa hàng sách BookKing</h1>

<p>
    <a asp-action="Create">Thêm mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenTheLoai)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenTheLoai)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaTheLoai">Sửa</a> |
                <a asp-action="Details" asp-route-id="@item.MaTheLoai">Xem</a> |
                <a asp-action="Delete" asp-route-id="@item.MaTheLoai">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
