@model BTLNhom11.Models.MenuSach

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MenuSach</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NhapSach)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NhapSach.MaHH)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TheLoai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TheLoai.TenTheLoai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TacGia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TacGia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiaTien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiaTien)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaSach">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
