@model BaiTapNhom11.Models.KhoSach

@{
    ViewData["Title"] = "Details";
}

<h1>Chào mừng đến với trang kho sách cửa hàng sách BookKing </h1>

<div>

    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenSach)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenSach)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayNhap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayNhap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DaBan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DaBan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConLai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConLai)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TenSach">Sửa</a> |
    <a asp-action="Index">Quay Lại</a>
</div>
